---
layout: post-index
title: Everyday Utilitarian
description: "Join me on my everyday journey to create a more utilful world."
---

{% for post in paginator.posts %}
<article class="hentry">
  <header>
    <div class="entry-meta">
      <span class="entry-date date published updated">
        <time datetime="{{ post.date | date_to_xmlschema }}">
          <a href="{{ site.url }}{{ post.url }}">{{ post.date | date: "%d %b %y" }}</a> &nbsp; &bull; &nbsp;
        </time>
      </span>
      
      {% if post.author == "admin" %}
        <a href="http://everydayutilitarian.com/essays/who-is-this-peter-guy/">Peter Hurford</a>
      {% else %}
        <a href="{{post.author-url}}">{{post.author}}</a>
      {% endif %}

      {% if site.disqus_shortname and post.comments %}
        &nbsp; &bull; &nbsp;<span class="entry-comments">
          <a href="{{ site.url }}{{ post.url }}#disqus_thread">Comment</a>
        </span>
      {% endif %}
    </div><!-- /.entry-meta -->
      <h1 class="entry-title"><a href="{{ site.url }}{{ post.url }}#title" rel="bookmark" title="{{ post.title }}" itemprop="url">{{ post.title }}</a></h1>
  </header>
  <div class="entry-content">
    {{ post.content | split:'<!-- more -->' | first }}
   {% if post.content contains '<!-- more -->' %}
      <p><a href="{{ site.url }}{{ post.url }}#title">read more...</a></p>
   {% endif %}
  </div><!-- /.entry-content -->
</article><!-- /.hentry -->
{% endfor %}

<div class="pagination">
{% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a href="{{ site.url }}" class="btn">Previous</a>
    {% else %}
      <a href="{{ site.url }}/page{{ paginator.previous_page }}" class="btn">Previous</a>
    {% endif %}
  {% endif %}
  

  {% if paginator.page == 1 %}
    <a href="{{ site.url }}/page{{ paginator.next_page }}" class="btn">More Posts!</a>
  {% else if paginator.next_page %}
    <a href="{{ site.url }}/page{{ paginator.next_page }}" class="btn">Next</a>
  {% endif %}
</div><!-- /.pagination -->