---
layout: post-index
permalink: /tags/
title: Tag Archive
---

<ul class="entry-meta inline-list">
	{% assign tags_list = site.categories %}  
		{% if tags_list.first[0] == null %}
			{% for tag in tags_list %}
				{% unless tag[0] == "all" %} 
					<li><a href="#{{ tag }}" class="tag">{{ tag }} <span>{{ site.tags[tag].size }}</span></a></li>
				{% endunless %}
			{% endfor %}
		{% else %}
	    {% for tag in tags_list %}
	    	{% unless tag[0] == "all" %} 
	    		<li><a href="#{{ tag[0] }}" class="tag">{{ tag[0] }} <span>{{ tag[1].size }}</span></a></li>
	    	{% endunless %}
	    {% endfor %}
	  {% endif %}
	{% assign tags_list = nil %}
</ul>

{% for tag in site.categories %} 
	{% unless tag[0] == "all" %} 
		<article>
			<div class="entry-content">
				<h2 id="{{ tag[0] }}">{{ tag[0] }}</h2>
				<ul>
				{% assign pages_list = tag[1] %}  
				{% for post in pages_list %}
					{% if post.title != null %}
						{% if group == null or group == post.group %}
							<li class="entry-title"><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
						{% endif %}
					{% endif %}
				{% endfor %}
				{% assign pages_list = nil %}
				{% assign group = nil %}
				</ul>
			</div>
		</article><!-- /.hentry -->
	{% endunless %}
{% endfor %}