
{% include head.html %}

<body id="post-index" class="feature">

<div class="entry-header">
  <div class="entry-image">
    {% if page.image %}
      <img src="{{ site.url }}/images/{{page.image}}" alt="{{ page.title }}">
    {% else %}
      <img src="{{ site.url }}/images/abstract-10.jpg" alt="{{ page.title }}">
    {% endif %}
  </div><!-- /.entry-image -->
  <div class="header-title">
    <div class="header-title-wrap">
      <a href="{{ site.url }}/index.html"><h1>{{ site.title }}</h1></a>
    </div><!-- /.header-title-wrap -->
  </div><!-- /.header-title -->
</div><!-- /.entry-header -->

<div id="main" role="main">
  {{ content }}
</div><!-- /#main -->

<div class="footer-wrapper">
  <footer role="contentinfo">
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrapper -->

{% include scripts.html %}          

</body>
</html>